{{!---------------}}
{{!--   hero    --}}
{{!---------------}}<section class="hero">
  <div>
    <h1>wrestling on the rocks</h1>
    <h2>Where every show is like it's the first show.</h2>
  </div>
  <img src="./images/p8_M6Wkg.png" alt="wotr logo">
</section>

{{!---------------}}
{{!-- chapter 1 --}}
{{!---------------}}

<section class="c1">
  <div class="root">
    <h2>Watch the show</h2>
    <iframe width="1126" height="704" src="https://www.youtube.com/embed/xqO6IzOWZPg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

{{!---------------}}
{{!-- chapter 2 --}}
{{!---------------}}

<section class="c2">
  <div class="root">
    <h2>Links to all the action</h2>
    
  </div>
</section>

{{!----------------}}
{{!-- javascript --}}
{{!----------------}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
